services:
  server:
    build: ./server
    container_name: express-server
    ports:
      - "4000:4000"
    networks:
      - myapp-network
    restart: unless-stopped
    
  client:
    build: ./client
    container_name: react-client
    ports:
      - "5174:3000"
    networks:
      - myapp-network
    depends_on:
      - server
    restart: unless-stopped

networks:
    myapp-network:
      driver: bridge